@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --clr-accent-100: 47 88 63;

  --clr-gray-100: 0 0 42;
  --clr-gray-200: 0 0 7;

  --clr-white: 0 0 100;

  /* this is a good tool for handling these: https://modern-fluid-typography.vercel.app/ */
  --fs-300: clamp(1.2rem, 0.5vw + 1rem, 1.4rem);
  --fs-400: clamp(1.4rem, 0.8vw + 1rem, 1.6rem);
  --fs-500: clamp(2rem, 2vw + 1rem, 2.4rem);

  --ff-sans: "Figtree", sans-serif;

  --fw-medium: 500;
  --fw-extra-bold: 800;

  /* similar to 150% in Figma */
  --lh-100: 1.5em;

  --spacing-100: 0.4rem;
  --spacing-200: 0.8rem;
  --spacing-300: 1.2rem;
  --spacing-400: 2.4rem;
}

/* === reset === */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding-inline: var(--spacing-400);

  color: hsl(var(--clr-gray-100));
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  font-family: var(--ff-sans);
  background-color: hsl(var(--clr-accent-100));

  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

/* === end of reest === */

/* === utilities === */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* === end of utilities === */

.blog-preview {
  --outer-border-radius: 2rem;
  --inner-border-radius: calc(var(--outer-border-radius) / 2);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  max-width: 38.4rem;
  padding: var(--spacing-400);

  border-radius: var(--outer-border-radius);
  background-color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-gray-200));
  box-shadow: 0.8rem 0.8rem 0px 0px #000;

  outline-offset: 0.2rem;

  & .blog-preview__header {
    display: flex;
    flex-direction: column;
  }

  & .blog-preview__thumbnail {
    height: 20rem;
    object-fit: cover;
    object-position: center;
    border-radius: var(--inner-border-radius);
  }

  & .blog-preview__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }

  /* this should handle cases where they are at least two categories */
  & .blog-preview__categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-100);
  }

  & .blog-preview__category {
    padding: var(--spacing-100) var(--spacing-300);

    color: hsl(var(--clr-gray-200));
    background-color: hsl(var(--clr-accent-100));
    font-size: var(--fs-300);
    font-weight: var(--fw-extra-bold);
    line-height: var(--lh-100);
    border-radius: 0.4rem;
  }

  & .blog-preview__date-published {
    color: hsl(var(--clr-gray-200));
    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
    line-height: var(--lh-100);
  }

  & .blog-preview__link:link,
  & .blog-preview__link:visited {
    display: inline-block;
    color: hsl(var(--clr-gray-200));
    font-size: var(--fs-500);
    font-weight: var(--fw-extra-bold);
    line-height: var(--lh-100);
    text-decoration: none;

    transition: color 200ms ease-in-out;
  }

  & .blog-preview__link:hover,
  & .blog-preview__link:focus {
    color: hsl(var(--clr-accent-100));
  }

  & .blog-preview__short-description {
    line-height: var(--lh-100);
  }

  & .blog-preview__footer {
    display: flex;
    align-items: center;
    gap: var(--spacing-300);
  }

  & .blog-preview__author-img {
    width: 3.2rem;
    aspect-ratio: 1;
  }

  & .blog-preview__author {
    color: hsl(var(--clr-gray-200));
    font-size: var(--fs-300);
    font-weight: var(--fw-extra-bold);
    line-height: var(--lh-100);
  }
}
